<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.zeroparadigm.liquid.core.dao.mapper.IssueMapper">
    <insert id="assignIssue">
        INSERT INTO `t_rel_issue_assignee`
        (`issue`, `assignee`)
        VALUES
        (#{issue_id}, #{assignee_id});
    </insert>

    <insert id="assignLabelById">
        INSERT INTO `t_rel_issue_label`
        (`issue`, `label`)
        VALUES
        (#{issue_id}, #{label_id});
    </insert>

    <insert id="assignMilestone">
        INSERT INTO `t_rel_issue_milestone`
        (`issue`, `milestone`)
        VALUES
        (#{issue_id}, #{milestone_id});
    </insert>

    <insert id="createIssue">
        INSERT INTO `t_ds_issue`
        (`display_id`, `repo_id`, `opener`, `title`, `createdTime`, `closed`)
        VALUES
        (#{display_id}, #{title}, #{opener}, #{title}, #{createdTime}, #{closed});
    </insert>

    <update id="closeIssue">
        UPDATE `t_ds_issue`
        SET `closed` = 'true'
        WHERE `id` = #{id};
    </update>

    <delete id="removeAssignee">
        DELETE
        FROM `t_rel_issue_assignee`
        WHERE `issue` = #{issue_id}
          AND `assignee` = #{assignee_id};
    </delete>

    <delete id="removeLabelById">
        DELETE
        FROM `t_rel_issue_label`
        WHERE `issue` = #{issue_id}
          AND `label` = #{label_id};
    </delete>

    <delete id="removeMilestone">
        DELETE
        FROM `t_rel_issue_milestone`
        WHERE `issue` = #{issue_id}
          AND `milestone` = #{milestone_id};
    </delete>

    <select id="findById" resultType="io.zeroparadigm.liquid.core.dao.entity.Issue">
        SELECT *
        FROM `t_ds_issue`
        WHERE `id` = #{id};
    </select>

    <select id="findByOwnerId" resultType="io.zeroparadigm.liquid.core.dao.entity.Issue">
        SELECT *
        FROM `t_ds_issue`
        WHERE `opener` = #{owner_id};
    </select>

    <select id="findByDisplayedIdandRepoId" resultType="io.zeroparadigm.liquid.core.dao.entity.Issue">
        SELECT *
        FROM `t_ds_issue`
        WHERE `displayed_id` = #{displayed_id}
          AND `repo` = #{repo_id};
    </select>

    <select id="findByRepoId" resultType="io.zeroparadigm.liquid.core.dao.entity.Issue">
        SELECT *
        FROM `t_ds_issue`
        WHERE `repo` = #{repo_id};
    </select>

    <select id="findByRepoIdandOwnerId" resultType="io.zeroparadigm.liquid.core.dao.entity.Issue">
        SELECT *
        FROM `t_ds_issue`
        WHERE `repo` = #{repo_id}
          AND `opener` = #{owner_id};
    </select>

    <select id="findByRepoIdandLabel" resultType="io.zeroparadigm.liquid.core.dao.entity.Issue">
        SELECT *
        FROM `t_ds_issue` JOIN `t_rel_issue_label` ON `t_ds_issue`.`id` = `t_rel_issue_label`.`issue`
        WHERE `t_ds_issue`.`repo` = #{repo_id}
          AND `t_rel_issue_label`.`label` = #{label_id};
    </select>

    <select id="findCreatedTimeById" resultType="java.lang.Long">
        SELECT `created_time`
        FROM `t_ds_issue`
        WHERE `id` = #{id};
    </select>

    <select id="findByRepoIdandClosed" resultType="io.zeroparadigm.liquid.core.dao.entity.Issue">
        SELECT *
        FROM `t_ds_issue`
        WHERE `repo` = #{repo_id}
          AND `closed` = #{closed};
    </select>

    <select id="findByUserIdandClosed" resultType="io.zeroparadigm.liquid.core.dao.entity.Issue">
        SELECT *
        FROM `t_ds_issue`
        WHERE `opener` = #{user_id}
          AND `closed` = #{closed};
    </select>

    <select id="findAssigneeById" resultType="io.zeroparadigm.liquid.core.dao.entity.User">
        SELECT `t_ds_user`.*
        FROM `t_ds_user` JOIN `t_rel_issue_assignee` ON `t_ds_user`.`id` = `t_rel_issue_assignee`.`assignee`
        WHERE `t_rel_issue_assignee`.`issue` = #{issue_id};
    </select>
</mapper>
