<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.zeroparadigm.liquid.dao.mapper.UserMapper">

    <select id="findById" resultType="io.zeroparadigm.liquid.dao.entity.User">
        SELECT *
        FROM `t_ds_user`
        WHERE `id` = #{id}
    </select>

    <delete id="deleteById">
        DELETE
        FROM `t_ds_user`
        WHERE `id` = #{id}
    </delete>

    <select id="findByNameOrMail" resultType="io.zeroparadigm.liquid.dao.entity.User">
        SELECT *
        FROM `t_ds_user`
        WHERE `login` = #{name_or_mail}
           OR `email` = #{name_or_mail}
        ORDER BY `id` LIMIT 1
    </select>

</mapper>
